 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 14px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 69px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  font-size: 1.5625rem;
  margin: 23px auto 18px 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 493px;
}

.u-section-3 .u-table-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-block-4817-42 {
  background-image: none;
}

.u-block-4817-41 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-body-1 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-6 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-table-cell-7 {
  font-weight: 400;
  border-style: solid;
}

.u-section-3 .u-table-cell-8 {
  font-weight: 400;
  border-style: solid;
}

.u-section-3 .u-table-cell-9 {
  font-weight: 400;
  border-style: solid;
}

.u-section-3 .u-table-cell-10 {
  font-weight: 400;
  border-style: solid;
}

.u-section-3 .u-table-cell-11 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-table-cell-12 {
  border-style: solid;
}

.u-section-3 .u-table-cell-13 {
  border-style: solid;
}

.u-section-3 .u-table-cell-14 {
  border-style: solid;
}

.u-section-3 .u-table-cell-15 {
  border-style: solid;
}

.u-section-3 .u-table-cell-16 {
  background-image: none;
  border-style: solid;
}

.u-section-3 .u-table-cell-17 {
  border-style: solid;
}

.u-section-3 .u-table-cell-18 {
  border-style: solid;
}

.u-section-3 .u-table-cell-19 {
  border-style: solid;
}

.u-section-3 .u-table-cell-20 {
  border-style: solid;
}html {
  scroll-behavior: smooth;
}
body {
	overflow-x:hidden;
}